AWS_ACCESS_KEY=AKIAZUFR7JW22BZSZEN6
AWS_ACCESS_SECRET=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
RATINGS_BUCKET=vandeptrai-airflow-ratings
RANKINGS_BUCKET=vandeptrai-airflow-rankings
CRAWLER_NAME=ratings-crawler